soapwscall/src/main/resources/wsdl/SimpleCalculatorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.mona.com/" name="SimpleCalculatorService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.mona.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.mona.com/" schemaLocation="SimpleCalculatorService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="minusTwoNumbers">
    <part name="parameters" element="tns:minusTwoNumbers"/>
  </message>
  <message name="minusTwoNumbersResponse">
    <part name="parameters" element="tns:minusTwoNumbersResponse"/>
  </message>
  <message name="divideTwoNumbers">
    <part name="parameters" element="tns:divideTwoNumbers"/>
  </message>
  <message name="divideTwoNumbersResponse">
    <part name="parameters" element="tns:divideTwoNumbersResponse"/>
  </message>
  <message name="plusTwoNumbers">
    <part name="parameters" element="tns:plusTwoNumbers"/>
  </message>
  <message name="plusTwoNumbersResponse">
    <part name="parameters" element="tns:plusTwoNumbersResponse"/>
  </message>
  <message name="formulaResult">
    <part name="parameters" element="tns:formulaResult"/>
  </message>
  <message name="formulaResultResponse">
    <part name="parameters" element="tns:formulaResultResponse"/>
  </message>
  <message name="ScriptException">
    <part name="fault" element="tns:ScriptException"/>
  </message>
  <message name="multipleTwoNumbers">
    <part name="parameters" element="tns:multipleTwoNumbers"/>
  </message>
  <message name="multipleTwoNumbersResponse">
    <part name="parameters" element="tns:multipleTwoNumbersResponse"/>
  </message>
  <portType name="SimpleCalculator">
    <operation name="minusTwoNumbers">
      <input wsam:Action="http://ws.mona.com/SimpleCalculator/minusTwoNumbersRequest" message="tns:minusTwoNumbers"/>
      <output wsam:Action="http://ws.mona.com/SimpleCalculator/minusTwoNumbersResponse" message="tns:minusTwoNumbersResponse"/>
    </operation>
    <operation name="divideTwoNumbers">
      <input wsam:Action="http://ws.mona.com/SimpleCalculator/divideTwoNumbersRequest" message="tns:divideTwoNumbers"/>
      <output wsam:Action="http://ws.mona.com/SimpleCalculator/divideTwoNumbersResponse" message="tns:divideTwoNumbersResponse"/>
    </operation>
    <operation name="plusTwoNumbers">
      <input wsam:Action="http://ws.mona.com/SimpleCalculator/plusTwoNumbersRequest" message="tns:plusTwoNumbers"/>
      <output wsam:Action="http://ws.mona.com/SimpleCalculator/plusTwoNumbersResponse" message="tns:plusTwoNumbersResponse"/>
    </operation>
    <operation name="formulaResult">
      <input wsam:Action="http://ws.mona.com/SimpleCalculator/formulaResultRequest" message="tns:formulaResult"/>
      <output wsam:Action="http://ws.mona.com/SimpleCalculator/formulaResultResponse" message="tns:formulaResultResponse"/>
      <fault message="tns:ScriptException" name="ScriptException" wsam:Action="http://ws.mona.com/SimpleCalculator/formulaResult/Fault/ScriptException"/>
    </operation>
    <operation name="multipleTwoNumbers">
      <input wsam:Action="http://ws.mona.com/SimpleCalculator/multipleTwoNumbersRequest" message="tns:multipleTwoNumbers"/>
      <output wsam:Action="http://ws.mona.com/SimpleCalculator/multipleTwoNumbersResponse" message="tns:multipleTwoNumbersResponse"/>
    </operation>
  </portType>
  <binding name="SimpleCalculatorPortBinding" type="tns:SimpleCalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="minusTwoNumbers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="divideTwoNumbers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="plusTwoNumbers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="formulaResult">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ScriptException">
        <soap:fault name="ScriptException" use="literal"/>
      </fault>
    </operation>
    <operation name="multipleTwoNumbers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SimpleCalculatorService">
    <port name="SimpleCalculatorPort" binding="tns:SimpleCalculatorPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

